/* The categories that domains are labeled with.

   Format:

   "template key": (
      "label title",
      background color,
      "category description",
   )
*/
$categories: (
  "pulitzer": (
    "Pulitzer",
    #b5c5f5,
    "Organizations who have won Pulitzer for Journalism since 1981 (excluding commentary & photography)"
  ),
  "fringe": (
    "Fringe",
    #f5c5b5,
    "Fringe media: kooks, cranks, conspiracies, rumors, gossip, sensationalism, tabloid journalism, fake news, propaganda, etc",
  ),
  "satire": (
    "Satire",
    #c5f5b5,
    "Clearly disclosed satire",
  ),
  "opinion": (
    "Opinion",
    #f5f5c5,
    "Articles that appear to be opinion pieces",
  ),
);


/* Build category templates */
@each $key, $value in $categories {
  $label: nth($value, 1);
  $color: nth($value, 2);
  $description: nth($value, 3);

  %#{$key} {
    @if $key == "opinion" {
      content: "#{$label}" !important;
      background-color: #{$color} !important;
    } @else {
      content: "#{$label}";
      background-color: #{$color};
    }
  }

  %#{$key}-hover {
    content: "#{$description}";
  }
}

/* Match /r/politics and /r/news for right now */
div.link {
  div.entry p.title::before {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;

    border: 1px solid rgba(0,0,0,.1);
    font-size: 75%;
    font-weight: bold;
    border-radius: 2px;
    color: #333;
    margin-bottom: 1px;
    margin-right: .5em;
    padding: 0 10px;
  }
}

@import '_domains';
