/**
 * Fake News Reddit CSS
 *
 * https://github.com/Aloisius/fake-news/
 */

@import 'settings';

/* Build category templates */
@each $key, $value in $categories {
  $label: nth($value, 1);
  $color: nth($value, 2);
  $description: nth($value, 3);

  %#{$key} {
    @if $key == "opinion" {
      content: "#{$label}" !important;
      background-color: #{$color} !important;
    } @else {
      content: "#{$label}";
      background-color: #{$color};
    }
  }

  %#{$key}-hover {
    content: "#{$description}";
  }
}

div.link {
  div.entry p.title::before {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;

    border: 1px solid rgba(0,0,0,.1);
    font-size: 75%;
    font-weight: bold;
    border-radius: 2px;
    color: #333;
    margin-bottom: 1px;
    margin-right: .5em;
    padding: 0 10px;
  }
}

@import 'domains';
